.quoteBox{
  border-radius:10%;
  background-image: url("https://pixabay.com/static/uploads/photo/2015/10/09/21/10/pink-979941_960_720.jpg");
  padding:30px 100px;
  margin: 3% 3% 3% 3%;
}
.quote{
    margin: 5% 5% 5% 5%;
    word-wrap: break-word;
}